.navbar {
    background-color: #f8f8f8;
    position: fixed;
    max-height: 80px;
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    z-index: 999;
}

.navbar_child{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    

}

.Rooted_title{
    font-family: "Montserrat Variable";
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
}

.login_signin_buttons {
    background-color: #333333;
    border-radius: 30px;
    color: white;
    padding: 0px 18px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 6px;
    height: 36px;
    margin-top: 20px;
    border: none

}

.hamburger{
margin-top: 15px;
margin-left: 40px;
}

@media screen and (max-width: 575px) {
    .hamburger{
    margin-top: 13px;
    margin-left: 10px;
    }
}

.menu_div {
    background-color: white;
    border-radius: 20px;
    max-width: 200px;
    z-index: 10;
    position: absolute;
    height: 180px;
    display: flex;
    flex-direction: column;
    right: 20px;
    flex-direction: column;
    top: 80px;
    width: 100%;
    gap: 20px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.menu_item {
    color: black;
    text-decoration: none;

}

@media screen and (max-width: 410px) {

    .hamburger{
    margin-left: 1px;
    margin-top: 15px;
    }
}
